.reservation{
    background-image: url("../../images/background.jpg");
    background-size: cover;
    background-position: center;
}
.booking-form {
    display: flex;
    justify-content: center;
    padding: 30px;
    
}

form {
    background-color:rgba(229, 225, 225, 0.5);
    justify-content: center;
    padding: 30px 80px;
    
}

#submit-btn{
    border: none;
    background-color: rgb(244, 233, 35);
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
}
#submit-btn:hover{
    background-color: rgb(244, 233, 35, 0.2);
}

input {
    border: none;
    padding: 10px;
    width: 250px;
}

select {
    border: none;
    padding: 10px;
    width: 100%;
}

.confirmbooking {
    margin-top: 20vh;
    background-color:#f4ce14;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error{
    color: red;
}