.card{
    box-shadow: 0 4px 8px 0 gray;
    transition: 0.3s;
    border-radius: 25px;
    align-items: center;
    margin-left: 125px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 gray;
}

.card-title {
    font-size: 1rem;
}

.card-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    max-width: 150px;
    height: 200px;
    gap: 10px;
    padding: 20px;
    /* flex-wrap: wrap; */
}

.card-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card-description {
    font-size: 0.75rem;
    text-align: left;
    margin-bottom: 0;
}
.card-price {
    
    color: orange;
    font-size: 1rem;
    text-align: right;
    margin-left: 75px;
}

img {
    border-radius: 25px 25px 0 0;
    width: 250px;
    height: 200px;
    object-fit: cover;
  }